* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main_color: #d16e17;
}

.hidden {
  display: none !important;
}
/*ERROR MSJ*/
.error-msj {
  position: fixed;
  left: 0; 
  right: 0; 
  pointer-events: none;
  display: flex;
  justify-content: center;
  z-index: 5;
}

/*REPRODUCTOR*/
.player-btn {
  display: inline-block;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 120px;
  height: 120px;
  background-color: rgb(220, 220, 220);
  border-radius: 12px;
  padding: 5px;
  cursor: pointer;
  z-index: 3;
}

.player-btn__img {
  width: 100%;
}

/*AUTH*/
.auth-pg{
  min-height: 100vh;
  display: flex;
  background-color: var(--main_color);
}

.auth-page__comp {
  background-color: var(--main_color);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.auth-pg__decor {
  flex: 1;
  background-image: url("https://images.alphacoders.com/598/598655.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  padding: 30px;
  background-color: rgb(236, 236, 236);
  border-radius: 8px;
  max-width: 500px;
  width: 400px;
  margin-top: 20px;
}

.auth-pg__form{
  display: flex;
  flex-direction: column;
}

.auth-pg__form button{
  margin-bottom: 15px;
}

/*AUTH MESSAGE*/
.auth-pg__decor-cont {
  border-width: 3px;
  border-radius: 10px;
  border-color: white;
  padding: 30px;
  color: white;
  border-style: solid;
  width: 400px;
  min-width: 200px;
  text-align: center;
}

.auth-pg__decor-cont h3{
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.auth-pg__decor-cont p {
  font-size: 1.3rem;
}

/*MUSIC*/
.logo-comp{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-comp__img {
  width: 65px;
  margin-right: 10px;
}

.logo-comp p{
  font-size: 2rem;
  font-weight: bold;
}

/*NAV BAR*/
.logo-comp--nv{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.logo-comp__img--nv {
  width: 50px;
  margin-right: 5px;
}

.logo-comp--nv p{
  font-size: 1.3rem;
  font-weight: bold;
}

/*SECTION HEADER*/
.sec-header {
  background-image: url("./img/section-bg.jpg");
  min-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
}

.sec-header h3 {
  font-size: 3rem;
  color: white;

}

/*ADMIN ITEM*/
.admin-item {
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
}

.admin-item__img-cont {
  width: 170px;
  margin-right: 15px;
}

.admin-item__img-cont img{
  width: 100%;
  border-radius: 50px;
  clip-path: circle();
}

.admin-item__content{
  flex: 1;
}

.admin-item__title{
  font-size: 1.4rem;
  font-weight: bold;
}